@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("./fonts/Causten-Regular.otf");
}

@font-face {
  font-family: "CaustenBlack";
  src: url("./fonts/Causten-Black.otf");
}

@font-face {
  font-family: "CaustenBold";
  src: url("./fonts/Causten-Bold.otf");
}

@font-face {
  font-family: "CaustenSemiBold";
  src: url("./fonts/Causten-SemiBold.otf");
}

@font-face {
  font-family: "CaustenMedium";
  src: url("./fonts/Causten-Medium.otf");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.heroGradient {
  background: radial-gradient(
    55.5% 55.5% at 50% 69.12%,
    #fdbd5e 0%,
    #ff9900 100%
  );
}

.heroGradientSM {
  background: radial-gradient(
    77.86% 117.98% at 74.24% 19.82%,
    #f9c04c 0%,
    #dd8500 100%
  );
}

.launchBtn {
  background: #f9c04c;
  box-shadow: 0px 8px 0px #dd8500;
  border-radius: 16px;
}

.heroBtn {
  background: #f9f991;
  box-shadow: 0px 2px 0px #faa72c;
  border-radius: 16px;
}
