@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("./fonts/Causten-Regular.otf");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.heroGradient {
  background: radial-gradient(
    77.86% 117.98% at 74.24% 19.82%,
    #f9c04c 0%,
    #dd8500 100%
  );
}

.launchBtn {
  background: #f9c04c;
  box-shadow: 0px 8px 0px #dd8500;
  border-radius: 16px;
}
